.section-clients {
  width: 100%;
  height: auto;
}

.section-clients > .title-clients {
  width: 100%;
  height: 150px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Montserrat", Sans-serif;
}

.section-clients > .title-clients > p {
  font-size: 18px;
}

.section-clients > .title-clients > h2 {
  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1em;
}

.section-clients > .image-clients {
  width: 100%;
  height: 600px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 50px;
}

.section-clients > .image-clients > .image {
  width: 1200px;
  height: 150px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.section-clients > .image-clients > .image > .images {
  width: 100%;
}

.section-clients > .btn-clients {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
