.section-carrossel-feedback {
  width: 1180px;
  height: auto;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section-carrossel-feedback > .carrossel-feedback {
  width: 100%;
  height: auto;
  display: flex;
}

.section-carrossel-feedback > .carrossel-feedback > figure {
  width: 400px;
  height: 200px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.section-carrossel-feedback > .carrossel-feedback > figure img {
  width: 100px;
  height: 50px;
}

.section-carrossel-feedback > .carrossel-feedback > .slide {
  width: 100%;
  height: 200px;
  background: green;
}
