.formulario {
  width: 1180px;
  height: auto;
  padding: 20px;

  display: flex;
  align-items: left;
  justify-content: top;
  flex-direction: column;
  color: #fff;
}

.formulario > .title-form {
  width: 500px;
  height: 60px;
  font-family: "Montserrat", Sans-serif;
  text-align: left;
  padding: 5px;
  margin-bottom: 80px;
  margin-top: 50px;
}

.formulario > .teste {
    width: 1100px;
    height: 500px;
    background: red;
}