.section-parceiros {
  width: 1180px;
  height: auto;

  display: flex;
  align-items: left;
  justify-content: top;
  flex-direction: column;
}

.section-parceiros > .carrossel-parceiros {
  width: 100%;
  height: 300px;
  background: yellow;
}
