.speak-specialist {
  width: 1000px;
  height: 250px;
  padding: 20px;

  border-top: 7px solid #e86523;
  box-shadow: 0px 0px 30px -10px rgb(0 0 0 / 50%);

  display: flex;
  align-items: center;
  justify-content: center;
}

.speak-specialist > .title-specialist {
  width: 500px;
  height: 200px;
  font-family: "Montserrat", Sans-serif;
  margin-left: 50px;
  margin-top: 20px;
}

.speak-specialist > .title-specialist h2 {
  font-size: 26px;
  font-weight: 700;
  line-height: 1.8em;
}

.speak-specialist > .title-specialist p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2em;
}

.speak-specialist > .image-specialist img {
  width: 250px;
  height: 250px;
  scale: 0.85;
}
