.speak-specialist {
  width: 1000px;
  height: 250px;
  padding: 20px;

  border-top: 7px solid #e86523;
  box-shadow: 0px 0px 30px -10px rgb(0 0 0 / 50%);

  display: flex;
  align-items: center;
  justify-content: center;
}

.speak-specialist > .title-specialist {
  width: 50%;
  height: auto;
  font-family: "Montserrat", Sans-serif;
  padding-left: 20px;
}

.speak-specialist > .title-specialist h2 {
  font-size: 26px;
  font-weight: 700;
  line-height: 1.8em;
}

.speak-specialist > .title-specialist p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2em;
}

.speak-specialist > .images-specialist {
  width: 50%;
  height: auto;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  grid-auto-rows: minmax(auto, auto);
}

.speak-specialist > .images-specialist > .image {
  scale: 0.75;
}