header {
  width: 100%;
  height: 600px;
}

header > .header-redes {
  width: 100%;
  height: 42px;
  background: #e86523;
}

header > .header-banner {
  width: 100%;
  height: 478px;
  display: flex;
  justify-content: space-around;
  gap: 20px;
  border-bottom: 1px solid #ddd;
}

header > .header-banner > .banner-title {
  width: 800px;
  height: 100%;

  display: flex;
  flex-direction: column;
}

header > .header-banner > .banner-title h1 {
  font-family: "Montserrat", Sans-serif;
  font-weight: 900;
  font-size: 50px;
  line-height: 1.2em;
  text-align: left;
  margin-top: 20px;
  margin-left: 80px;
  padding: 20px;
}

header > .header-banner > .banner-title h1 > span {
  color: #e86523;
}

header > .header-banner > .banner-title p {
  font-family: "Montserrat", Sans-serif;
  font-weight: 400;
  font-size: 30px;
  margin-top: 5px;
  font-size: 20px;
  padding: 20px;
  margin-top: -20px;
  margin-left: 80px;
  line-height: 1.2em;
}

header > .header-banner > .banner-title p > span {
  color: #ff6600;
}

header > .header-banner > .banner-title > .btn_header {
  width: 100%;
  height: 100px;
  padding-left: 100px;
}

header > .header-banner > .foto-banner {
  width: 35%;
  height: 478px;
}

header > .header-banner > .foto-banner {
  scale: 0.75;
  margin-left: -50px;
  z-index: 1;
}
