.section-footer {
  width: 100%;
  height: auto;
  background: #f4f4f4;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer-infos {
  width: 100%;
  height: 600px;

  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #ddd;
}

.columuns {
  width: 312px;
  height: 500px;
  padding-top: 30px;
}

.columuns h3 {
  color: #292929;
}

.columuns > figure img {
  width: 200px;
  height: 50px;
}

.columuns ul {
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

.columuns ul li {
  color: #555555;
  margin-bottom: 10px;

  display: flex;
  align-items: center;
}

.columuns ul li > .space-right {
  margin-right: 10px;
}

.columuns ul li:hover {
  color: #ea8939;
  cursor: pointer;
}

.columuns > .icons-apoio {
  width: 100%;
  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.columuns > .icons-apoio > .foto-apoio {
  width: 60px;
}

.columuns > .icons-servico {
  width: 100%;
  padding: 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.columuns > .icons-servico > .foto-servico {
  width: 180px;
}

.columuns > .footer-redes {
  width: 50%;
  height: 25px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  color: #292929;
}

.columuns > .footer-redes > .rede:hover {
  color: #ea8939;
  cursor: pointer;
}

.columuns > .footer-title {
  color: #292929;
  margin-top: 20px;
}

.columuns > .columuns_ceo {
  width: 300px;
  height: 370px;
  background: #fff;
  color: #292929;
  border-radius: 10px 10px 10px 10px;
  border: 1px solid #ddd;
  margin-top: 10px;
}

.columuns > .columuns_ceo > .foto-linkedin {
  width: 100%;
  background: #e9e6df;
  border-radius: 10px 10px 0px 0px;
}

.columuns > .columuns_ceo > .foto-linkedin > .linkedin {
  width: 120px;
  padding: 10px;
}

.columuns > .columuns_ceo > .foto-CEO {
  width: 100%;
  height: auto;
  background: #fff;
  padding: 10px;
}

.columuns > .columuns_ceo > .foto-CEO > .CEO img {
  width: 68px;
  height: 68px;
  border-radius: 50%;
}

.columuns > .columuns_ceo > .section-star-5 {
  width: 100%;
  height: 20px;
  padding-left: 5px;
}

.columuns > .columuns_ceo > .section-star-5 > .star-5 {
  width: 68px;
  height: 68px;
}

.columuns > .columuns_ceo h3,
p {
  padding: 5px;
}

.columuns > .columuns_ceo p {
  font-size: 15px;
}

.columuns > .columuns_ceo button {
  width: 100px;
  padding: 5px;
  margin: 10px;
  border: 2px solid #5194ba;
  border-radius: 20px;
  color: #5194ba;
  background: #fff;
  margin-top: 10px;
}

.columuns > .columuns_ceo button:hover {
  background: #5194ba;
  color: #fff;
  cursor: pointer;
}

.section-footer > .footer-copy {
  width: 100%;
  height: 50px;
  color: #555555;

  display: flex;
  align-items: center;
  justify-content: center;
}
